<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Teko|Luckiest+Guy|Tangerine" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css" />
    <title>{{ page_title }}</title>
</head>

<body>
    <div class="content">
        <h1 class="title">Quizon</h1>
        <h2 class="titleSmall">Quiz Game created in Python</h2>
    </div>
    <div class="selectionBoxPlayer">
        <div class="container topscore">
            <p class="topplayers">Top Players:</p>
            <table class="highScoreTable">
                <tr>
                    <th>Place</th>
                    <th>Player name:</th>
                    <th>Score</th>
                </tr>
                {% for x in high_score %}
                <tr>
                    <th>{{ loop.index }}</th>
                    <th>{{ x.name }}</th>
                    <th>{{ x.score }}</th>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="homeButton"><a href="/{{username}}"><button class="buttons">Back</button></a></div>
        <div class="homeButton"><a href="/{{username}}/logoff"><button class="buttons logOffButton">Log Off</button></a></div>
    </div>
    <footer>
        <span class="footerTextLeft">&copy;2018 Maciej Pawelek</span>
        <span class="footerTextRight">Project for Code Institute, Dublin</span>
    </footer>

</body>

</html>
