<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Teko|Luckiest+Guy" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
    <title>{{ page_title }}</title>
</head>

<body>
    <div class="container mainScreen">
        <h1 class="title">Python Riddle Game</h1>
        <h2 class="userName">Enter Username & Password:</h2>
        <div class="usernameInput">
            <!-- FORM -->
            <form method="POST" class="form-inline formMargin">
                <input type="text" class="form-control" placeholder="username" name="username" id="username" autofocus>
                <input type="password" class="form-control" placeholder="password" name="password" id="password" autofocus>
                <button class="btn btn-success">Continue </button>
                <button class="btn btn-success">Create New Player </button>
            </form>
        </div>
        <span class="invalidUsernameText">{{ element_invalid_user_span }}</span>
    </div>
    <div class="container topscore">
        <p class="topplayers">Top Players:</p>
        <table class="highScoreTable">
            <tr>
                <th>Place</th>
                <th>Player name:</th>
                <th>Score</th>
            </tr>
            {% for x in high_score %}
            <tr>
                <th>{{ loop.index }}</th>
                <th>{{ x.name }}</th>
                <th>{{ x.score }}</th>
            </tr>
            {% endfor %}
        </table>
    </div>
    <footer>
        <span class="footerTextLeft">&copy;2018 Maciej Pawelek</span>
        <span class="footerTextRight">Project for Code Institute, Dublin</span>
    </footer>
</body>

</html>
