<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Teko|Luckiest+Guy|Tangerine" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css" />
    <title>{{ page_title }}</title>
</head>

<body>
    <div class="content">
        <h1 class="title">Quizon</h1>
        <h2 class="titleSmall">Quiz Game created in Python</h2>
    </div>
    <div class="selectionBox">
        <div class="smallContainer">
            <form id="loginForm" action="" method="post">
                <input class="inputField" type="text" placeholder="Username" name="username" autocomplete="on" size="7">
                <input class="inputField" type="password" placeholder="Password" name="password" autocomplete="off" size="7">
                <input class="inputField" type="password" placeholder="Re-enter" name="password" autocomplete="off" size="7">
                <input class="buttons btn btn-default" type="submit" value="Create">
            </form>
            <div class="homeButton"><a href="/"><button class="buttons">Go back</button></a></div>
        </div>
    </div>

</body>
<footer>
    <span class="footerTextLeft">&copy;2018 Maciej Pawelek</span>
    <span class="footerTextRight">Project for Code Institute, Dublin</span>
</footer>

</html>
